body,
html {
  height: 100%;
  margin: 0;
}

.App {
  background-image: url("./Images/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.App-logo {
  width: 50%;
  padding-top: 20px;
}

.imageText {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  font-family: 'Poppins', sans-serif;
  color: #529D61

}

/* .Green {
  color: #529D61
} */

@media (max-width: 600px) {
  .App {
    background-position: center;

  }

  .App-logo {
    width: 95%;
  }

  .imageText {
    font-size: 4.5vw;
    padding-top:300px;
    color:black;
  }

}